$fa-font-path: '/assets/fonts/font-awesome/';
@import '~font-awesome/scss/font-awesome';

// @import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,900|Roboto:300,500,700,900);

/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

// Component styles are injected through gulp
/* inject:scss */
@import 'admin/admin';
@import 'book/book';
@import 'contact/contact';
@import 'customer/customer';
@import 'doc/doc';
@import 'main/main';
@import 'media/media';
@import 'movie/movie';
@import 'task/task';
@import '../components/crud-table/crud-table';
@import '../components/crud-table/crud';
@import '../components/crud-table/main';
@import '../components/footer/footer';
@import '../components/login-modal/login';
@import '../components/menu/menu';
@import '../components/navbar/navbar';
@import '../components/oauth-buttons/oauth-buttons';
@import '../components/toggle-component/toggle-component';
/* endinject */

ng-md-icon {
  width: auto;
  height: auto;
  top: 5px;
  margin: -3px 0 0 0;
}

img{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
md-menu-content.md-blue-theme md-menu-item{
  color: #000;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    line-height: 1.4em;
}
a, .link{
  cursor: pointer;
}

.md-button {
    text-transform: initial!important;
}
md-card md-card-content .content{
  text-align: start;
  margin-left: 20px;
}
/*.page-content{
    display: flex;
    align-items:  center;
    flex-direction:  column;
}
html, body {
    height: 100%;
}*/
html, body, md-content {
    background-color: #fefefe !important;
    -moz-osx-font-smoothing: grayscale;
}
.wrapper{
    display: flex;
    min-height: 73vh;
    flex-direction: column;
}
.wrapper .md-content{
    flex:1; 
}
md-icon.s18 {
  width: 18px;
  height: 18px;
}
.muted{
  color: #ccc;
}
md-card {
  background-color: #fff !important;
}
md-content#detail-content{
  z-index: 10;
}
md-input-container md-switch {
  margin: 1px;
}
md-content md-card-content a{
  font-weight: bold;
  color: #EA1F00;
  border-bottom: 1px dotted red;
  background-color: #F7F7F7;
  transition: color 0.5s ease 0s;
  text-decoration: none;
}
.circular-progress-button {
    height: 30px;
}

.circular-progress-button>md-progress-circular {
    margin: auto;
    /* margin-top: -12px; If circular does not appear at the center, change this value. */
}

.circular-progress-button>md-progress-circular .md-half-circle {
    border-top-color: white !important;
}

.circular-progress-button>md-progress-circular .md-left>.md-half-circle {
    border-left-color: white;
}

.circular-progress-button>md-progress-circular .md-right>.md-half-circle {
    border-right-color: white;
}

/**
 * App-wide Styles
 */

.success{
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  opacity: 1;
  color: green;
}

.err{
  font-size: 12px;
  line-height: 14px;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  opacity: 1;
  margin-top: 0;
  padding-top: 5px;
  color: red;
}
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

#login-content > * {
  max-width: 350px;
}
#login-content form > .md-warn {
  padding-bottom: 20px;
}

md-content[ui-view="detail"] {
    background-color: whitesmoke;
}

.md-fab {
  fill: #fff;
}
md-sidenav {
  fill: #737373;
}

.user-avatar {
  border-radius: 99%;
}

main {
  overflow: auto;
}

button.md-button.md-fab.fab-overlap[disabled] {
  background: #eee;
}
button.md-button.md-fab.fab-overlap.md-fab-top-left {
  left: 12px;
}

md-list.fab-padding {
  padding-bottom: 56px;
}
md-list .list-info {
  color: rgba(0, 0, 0, 0.24);
}
md-list md-item.selected {
  background: #e3f2fd;
}
md-list md-item.list-head {
  color: #888;
}
md-list md-item.list-head md-item-content {
  padding-left: 64px;
}

md-dialog {
  min-width: 30%;
  max-height: 85%;
}

md-toolbar .md-toolbar-tools.toolbar-tools-fab-overlap {
  padding-left: 78px;
}
md-toolbar .md-button:not(.md-fab) {
  min-width: 1em;
}
md-toolbar .subtitle {
  font-size: .5em;
}
md-toolbar.md-tall button.md-button.md-fab.fab-overlap.md-fab-top-right, md-toolbar.md-tall button.md-button.md-fab.fab-overlap.md-fab-top-left {
  top: 112px;
}
md-toolbar.md-medium-tall button.md-button.md-fab.fab-overlap.md-fab-top-right, md-toolbar.md-medium-tall button.md-button.md-fab.fab-overlap.md-fab-top-left {
  top: 72px;
}
md-toolbar.md-medium-tall button.md-button.md-fab.fab-overlap.md-fab-top-left {
  left: 12px;
}

img.list-image {
  border-radius: 30px;
  width: 42px;
  margin: 8px 16px;
  border: 1px solid #eee;
}

list-image div, list-image img {
  border-radius: 30px;
  width: 42px;
  margin: 8px 16px;
  border: none;
  color: #fff;
}
list-image div.md-light-blue-dark-theme, list-image img.md-light-blue-dark-theme {
  color: #000;
  border: 1px solid #888;
}
list-image div {
  height: 42px;
  text-align: center;
  line-height: 42px;
}

list-image div span {
  font-size: 20px;
}

md-sidenav[md-component-id="mainMenu"] md-toolbar list-image div {
  margin: 0 16px 0 0;
}
md-sidenav[md-component-id="mainMenu"] ul {
  list-style: none;
  padding: 0;
}
md-sidenav[md-component-id="mainMenu"] li {
  margin: 0;
}
md-sidenav[md-component-id="mainMenu"] md-content ul > li > ul > li > .md-button {
  padding-left: 42px;
}
md-sidenav[md-component-id="mainMenu"] md-content .md-button {
  display: block;
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  font-weight: 400;
  line-height: 40px;
  margin: 0;
  max-height: 40px;
  overflow: hidden;
  padding: 0px 16px;
  text-align: left;
  text-decoration: none;
  white-space: normal;
  width: 100%;
}

[toggle-component].toggle-component-locked-open {
  display: block;
}
[toggle-component].toggle-component-closed {
  display: none;
}

md-input-container md-select {
  flex: 1;
  order: 2;
  display: block;
  background: none;
  padding: 12px 0 0 0;
  line-height: 26px;
  -ms-flex-preferred-size: 26px;
  border-radius: 0;
  margin: 0;
}
md-input-container md-select .md-select-label {
  font-size: 14px;
}
md-input-container md-select .md-select-icon {
  display: none;
}
md-input-container.md-input-has-value md-select {
  padding: 1px 0px 0px 0px;
  border-bottom: none;
}
md-input-container.md-input-has-value md-select .md-select-icon {
  display: block;
}

.md-select-label {
  font-size: 14px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
}



.section {
  padding: 16px 0 16px 0;
}
.section span {
  font-size: 14px;
}
.section.slim {
  padding: 4px 0;
}
.section .section-title {
  color: #888;
  margin-bottom: 8px;
  font-size: .8em;
  text-transform: uppercase;
}
.section .section-title.slim {
  margin-bottom: 0;
}
.section .detail-info {
  margin: 8px 0;
}
.section .detail-info.slim {
  margin: 0;
}
.section .detail-info span[flex]:first-child {
  color: #555;
  text-overflow: ellipsis;
  overflow: hidden;
}
.section .detail-info span[flex]:nth-child(2) {
  color: #888;
}
@media (max-width: 600px) {
  .section .detail-info span:not(first-child) {
    margin-top: 8px;
  }
}
md-input-container{
  margin: 10px 0 0;
}